/* 
    Document   : manage.home.css
    Created on : 2011-11-22, 16:05:37
    Author     : szeng
    Description:
        Purpose of the stylesheet follows.
*/
div.project-manage-block-div{
    text-align: center;
    min-width: 595px;
    width: auto !important;
    width: 595px;
    margin-bottom: 21px;
}

div.project-manage-categories-div{
    border: 1px solid #358AA3;
    width: 595px;
    padding-bottom: 10px;
    margin: 0 auto;
}

div.project-manage-categories-div div.project-manage-categorie-item-div{
    float: left;
    display: inline;
    overflow: hidden;
    width: 260px;
    height: 140px;
    padding: 10px;
    border: 1px dotted #358AA3;
    text-align: center;
    margin: 10px 0px 0px 10px;
}
div.project-manage-categories-div div.project-manage-categorie-item-div div{
    float: left;
    display: inline;
    overflow: hidden;
    
}
div.project-manage-categories-div div.project-manage-categorie-item-div div.item-left-div{
    height:130px;
    width: 130px;
    text-align: center;
}
div.project-manage-categories-div div.project-manage-categorie-item-div dt{
    margin-top: 40px;
    font-size: 18px;
}
div.project-manage-categories-div div.project-manage-categorie-item-div dd{
    margin-top: 10px;
    font-size: 16px;
    font-weight: bolder;
}
div.project-manage-categories-div p.more-link{
    text-align: right;
    margin-right: 20px;
}