<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="fi.hut.soberite.accelerometer"
      android:versionCode="1"
      android:versionName="1.0">


    <application 
    	android:icon="@drawable/icon" 
    	android:label="@string/app_name"
    	android:name="AccelerometerDriverApplication"
    	android:debuggable="true"
    	>


        <activity android:name="AccelerometerDriverSettings"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<receiver android:name="DiscoveryBroadcastReceiver" android:exported="true">
            <intent-filter>
                <action android:name="fi.hut.soberit.sensors.action.DRIVER_DISCOVERY" />
            </intent-filter>
		
		</receiver>
		
		
        <service android:enabled="true" android:name=".AccelerometerDriver" android:process=":xx">
			<intent-filter>
				<action android:name="fi.hut.soberite.accelerometer.AccelerometerDriver.ACTION" />
			</intent-filter>
		</service>
		
    </application>
</manifest>