<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="fi.hut.soberite.accelerometer"
      android:versionCode="1"
      android:versionName="1.0">


    <application 
    	android:icon="@drawable/icon" 
    	android:label="@string/app_name"
    	android:name="fi.hut.soberit.accelerometer.AccelerometerDriverApplication"
    	android:debuggable="true"
    	>


        <activity android:name="fi.hut.soberit.accelerometer.AccelerometerDriverSettings"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="fi.hut.soberit.accelerometer.AccelerometerGraph"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
             	<category android:name="android.intent.category.DEFAULT" />
             	<category android:name="application.vnd.sensor.accelerometer" />                
             	<category android:name="application.vnd.sensor.pulse" />
            </intent-filter>
        </activity>


		<receiver android:name="fi.hut.soberit.sensors.drivers.AccelerometerDriver$Discover" android:exported="true">
            <intent-filter>
                <action android:name="fi.hut.soberit.sensors.action.DRIVER_DISCOVERY" />
            </intent-filter>
		</receiver>
		
		<receiver android:name=".AccelerometerAxisUploader$UploaderDiscover" android:exported="true">
            <intent-filter>
           		<action android:name="fi.hut.soberit.sensors.action.UPLOADER_DISCOVERY" />
            </intent-filter>
		</receiver>

		<receiver android:name="fi.hut.soberit.accelerometer.AccelerometerSessionStart" android:exported="true">
            <intent-filter>
           		<action android:name="fi.hut.soberit.sensors.action.SESSION_STARTED" />
            </intent-filter>
		</receiver>
		
        <service android:enabled="true" android:name="fi.hut.soberit.sensors.drivers.AccelerometerDriver" android:process=":xx">
			<intent-filter>
				<action android:name="fi.hut.soberit.sensors.drivers.AccelerometerDriver" />
			</intent-filter>
		</service>

        <service android:enabled="true" android:name="fi.hut.soberit.accelerometer.AccelerometerAxisUploader">
			<intent-filter>
				<action android:name="fi.hut.soberite.accelerometer.AccelerometerAxisUploader.ACTION" />
			</intent-filter>
		</service>
		

		
    </application>
    
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    
</manifest>
