<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="fi.hut.soberit.sensors.hxm"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">

        <activity android:name=".HxMPulseSettings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="eu.mobileguild.bluetooth.BluetoothPairingActivity"
                  android:label="@string/paired_devices"
       	          android:theme="@android:style/Theme.Dialog"
				 />

		<receiver android:name="fi.hut.soberit.sensors.hxm.HxMDriver$Discover" >
            <intent-filter>
                <action android:name="fi.hut.soberit.sensors.action.DRIVER_DISCOVERY" />
            </intent-filter>
		</receiver>
		
       <service android:name="fi.hut.soberit.sensors.drivers.HxMDriver" android:process=":xx">
			<intent-filter>
				<action android:name="fi.hut.soberit.sensors.hxm.HxMDriver" />
			</intent-filter>
		</service>

		<receiver android:name=".HxMSessionStart" >
          <intent-filter>
                <action android:name="fi.hut.soberit.sensors.action.SESSION_STARTED" />
            </intent-filter>
		</receiver>	

		<receiver android:name=".HxMStorageDiscovery">
			<intent-filter>
                <action android:name="fi.hut.soberit.sensors.action.STORAGE_DISCOVERY" />
			</intent-filter>		
		</receiver>
    </application>
    
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
</manifest>